%h2 Tutorial "#{@tutorial.title}"

.pure-g
    .pure-u-1-4
        =render "tutorial_builder/tutorials/slides"

    .pure-u-3-4
        =form_for @slide, url: tutorial_builder_tutorial_slides_path(@tutorial), method: :post, html: {class: 'pure-form'} do |f|
            %legend Edit Slide
            =render "form", f: f
